@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900&display=swap');

$primary: #0F4486;
$secondary: #CB1733;

@import "bootstrap";

body {
    background-color: $light;
    font-family: 'Livvic', sans-serif;
}

// Nav
.navbar-brand img {
  width: 250px;
}

.navbar .nav-link {
  color: $primary !important;

  &:hover {
    color: $secondary !important;
  }
}

.navbar .btn-outline-primary {
  color: $primary;
  border-color: $primary;

  &:hover {
    color: $secondary;
    border-color: $primary;
  }
}

.navbar{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}


.navbar-sticky {
  opacity: 0.9;
}

// Carousel

.hero {
  margin-top: 160px; /* Ajusta este valor según la altura de tu navbar */
}

// .mt-navbar .vademcum .productos-relacionados {
//   margin-top: 156px;
// }

.carousel-item {
  height: 95vh;
}

.carousel-title h2 {
  width: 100%;
}

.carousel-item img {
  
  object-fit: cover;
  object-position: center center;
  height: 100%;
}

.carousel-inner {
  max-height: 700px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Centra el texto horizontalmente */
  color: white;
  z-index: 10; /* Asegura que el texto quede visible encima de la imagen */
  max-width: 100%; /* Evita que el texto se desborde */
}

.carousel-caption h2 {
  font-size: 3.5rem;
  margin: 0 auto;
  text-align: center; /* Alinea el h2 al centro */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.carousel-caption p {
  font-size: 1.2rem;
  margin-bottom: 15px; /* Separación entre el párrafo y el botón */
  text-align: center;
}


.carousel-caption .btn {
  font-size: 1rem;
  margin-top: 10px; /* Espacio entre el botón y el párrafo */
  margin: 0 auto;
  display: block;
}

// Zafra

.titulo-zafra {
  width: 70%;
  padding-bottom: 10px;
}

.titulo-zafra h1{
  border-bottom: solid 8px $secondary ;
  padding-bottom: 20px;

}

.titulo-zafra h3{
  padding-top: 10px;

}

// Card
.zafra-group{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.zafra-group .card{
  width: 100%;
  max-width: 320px; /* Puedes ajustar este valor según lo que necesites */
  margin-bottom: 20px;
  line-height: 1.8rem;

}


.card-text {
  .text-truncate-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-img-top {
  object-fit: cover;
}

.card-border-top-thick {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: $secondary;
}

.card {
  margin-bottom: 20px; /* Espaciado inferior */
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);
  border: none;
}

// Ajustes para pantallas pequeñas
@media (max-width: 768px) {
  .carousel-caption {
    // top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    text-align: center;
  }

  .carousel-caption h2 {
    font-size: 2.5rem; /* Ajuste de tamaño */
    margin-bottom: 10px; /* Ajusta el espacio debajo del título */
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption .btn {
    font-size: 0.9rem;
    padding: 8px 16px; /* Ajusta el tamaño del botón */
  }

  .navbar-brand img {
    width: 200px; /* Redimensiona logo en pantallas pequeñas */
  }
}


.zafra-group .card {
  width: 100%;

}

// chinfield section

.chinfield{
  border-radius: 5px;
  max-width: 100%;
}

.titulo-chinfield h2{
  border-bottom: solid 8px $primary ;
  padding-bottom: 20px;

}


// vademecum

#vademecum  {
  margin-top: 210px;
}

.titulo-vademecum{

  width: 70%;
  padding-bottom: 10px;

}

.titulo-vademecum h1{
  border-bottom: solid 8px $secondary ;
  padding-bottom: 20px;
  

}

// productos
#productos {
  margin-top: 210px;
}



.titulo-productos {
  width: 70%;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.titulo-productos h1{
  border-bottom: solid 8px $secondary ;
  padding-bottom: 20px;

}

@media (max-width: 1000px) {
  .carousel-caption h2 {
    font-size: 2.5rem; /* Ajuste de tamaño en pantallas medianas */
    margin-bottom: 10px;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption .btn {
    font-size: 1rem;
  }
}

.carousel-item img {
  // height: 700px;
  object-fit: cover;
  object-position: 40 6%;
  height: 100%;
}
