@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #F2F2F2;
$secondary: #F2F2F2;




body{
    background-color: $primary;
}


//  carrousel

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .carousel-caption h2 {
    font-size: 3.5rem;
  }
  .carousel-caption p {
    font-size: 2rem;
  }
  .carousel-item {
    height: 80vh; /* Ajusta esta altura según sea necesario */
  }
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }


  .card-text{

    .text-truncate-3-lines {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      
}

.card-img-top {
    height: 200px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente si es necesario */
}