@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900&display=swap');

$primary: #0F4486;
$secondary: #CB1733;

@import "bootstrap";







body{
    background-color: $light;
    font-family: 'Livvic', sans-serif;

}

//nav

.navbar-brand img{
  width: 250px;
}

// Estilo para el texto del menú de navegación
.navbar .nav-link {
  color: $primary !important; // Texto en color primario

  &:hover {
    color: $secondary !important; // Cambia a color secundario en hover
  }
}

// Estilo para el botón de contacto
.navbar .btn-outline-primary {
  color: $primary; // Texto en color primario
  border-color: $primary; // Borde en color primario

  &:hover {
    color: $secondary; // Cambia el texto a color secundario en hover
    // background-color: white; // Fondo blanco en hover
    border-color: $primary; // Mantén el borde en color primario
  }
}


//  carrousel

.mt-navbar {
  margin-top: 156px; /* Ajusta este valor según la altura de tu navbar */
}


.carousel-item {
  height: 95vh; /* Ajusta esta altura */
}

.carousel-item img {
  height: 700px; /* Ajusta altura */
  object-fit: cover; /* Aseguro que la imagen se recorte y cubra el contenedor */
  object-position: 0 50%; /* Controlo la ubicacion de imagen dentro del contenedor */
  height: 100%;

}

/* Ajusta la altura del contenedor del carousel */
.carousel-inner {
  max-height: 700px; /* Ajusto el valor para controlar la altura */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 10; /* Aseguro que el texto quede visible encima de la imagen */
    max-width: 80%; /* Evita que el texto se desborde */

  }
  .carousel-caption h2 {
    font-size: 3.5rem;
    margin-bottom: 20px; /* Separación entre el título y el párrafo */

  }
  .carousel-caption p {
    font-size: 2rem;
  }
 
// card

  .card-text{

    .text-truncate-3-lines {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      
}

.card-img-top {
    height: 200px; /* Ajustar altura  */
    object-fit: cover; /* imagen se recorte correctamente */
}

.card-border-top-thick {
  border-top-width: 4px; /* Ajusta el grosor a lo que necesites */
  border-top-style: solid; /* Asegura que el borde sea sólido */
  border-top-color: $secondary; /* Opcional: elige un color específico */
}

// screen media

@media (max-width: 768px) {

  .navbar-brand img{
    width: 150px;
  }


  .carousel-caption h2 {
    font-size: 1.5rem; /* Reduzco el tamaño del texto para pantallas pequeñas */
    top: 30%; /* Ajusta la posición en pantallas más pequeñas */
    left: 50%; /* Asegura que se mantenga centrado */
    transform: translateX(-50%); /* Asegura el centrado */
    max-width: 80%; /* Limita el ancho para que no se salga */
  }

  .carousel-caption p {
    font-size: 1.2rem; /* Ajusto el tamaño del párrafo para pantallas pequeñas */
    margin-top: 10px; /* Agrega un poco de espacio entre el texto */
  }

  .carousel-item img {
    height: 550px; /* Ajusta para pantallas pequeñas */
  }

  .carousel-caption .btn {
    font-size: 1rem; /* Reduzco el tamaño del botón */
    padding: 10px 20px; /* Aseguro que el botón sea más pequeño */
  }
}